/* Настройки светлой схемы */

[data-md-color-scheme="default"] {
  --md-primary-fg-color: #0B61A4; /*Основной цвет*/
  --md-accent-fg-color: #1565C0; /*Акцентный цвет*/
  --md-typeset-a-color: #0e70e0; /*Цвет ссылок*/
  --md-default-bg-color: #f0f8ff; /*Фоновый цвет*/
  --md-default-fg-color: #353535; /*Основной цвет текста (абзацы, списки, подзаголовки, nav и toc)*/
  --md-code-bg-color: #ffffff; /*Цвет фона блока кода*/
  --md-code-fg-color: #5c5b5b; /*Цвет текста в блоке кода*/
  --md-default-fg-color--light: #4e4d4d; /*Цвет h1 и заголовков блоков toc и nav*/
}

/* Настройки тёмной схемы */

[data-md-color-scheme="slate"] {
  --md-primary-fg-color: #0B61A4; /*Основной цвет*/
  --md-accent-fg-color: #1565C0; /*Акцентный цвет*/
  --md-typeset-a-color: #0e70e0; /*Цвет ссылок*/
  --md-default-bg-color: #f0f8ff; /*Фоновый цвет*/
  --md-default-fg-color: #353535; /*Основной цвет текста (абзацы, списки, подзаголовки, nav и toc)*/
  --md-code-bg-color: #ffffff; /*Цвет фона блока кода*/
  --md-code-fg-color: #5c5b5b; /*Цвет текста в блоке кода*/
  --md-default-fg-color--light: #4e4d4d; /*Цвет h1 и заголовков блоков toc и nav*/
}
/* Настройки светлой темы */

[data-md-color-scheme="my-scheme"] {
  --md-primary-fg-color: #0B61A4; /*Основной цвет*/
  --md-accent-fg-color: #1565C0; /*Акцентный цвет*/
  --md-typeset-a-color: #0e70e0; /*Цвет ссылок*/
  --md-default-bg-color: #f0f8ff; /*Фоновый цвет*/
  --md-default-fg-color: #353535; /*Основной цвет текста (абзацы, списки, подзаголовки, nav и toc)*/
  --md-code-bg-color: #ffffff; /*Цвет фона блока кода*/
  --md-code-fg-color: #5c5b5b; /*Цвет текста в блоке кода*/
  --md-default-fg-color--light: #4e4d4d; /*Цвет h1 и заголовков блоков toc и nav*/
  --md-footer-bg-color: #25567B; /*Цвет футера*/
}
/*Параметры текста статей*/
.md-typeset {
    font-family: 'Tahoma', 'arial';
    font-weight: 200;
    font-size: 16px;
    color: #4b5563;
}
/*Параметры текста nav и toc*/
.md-nav {
    font-family: 'Tahoma', 'arial';
    font-weight: 400;
    font-size: 16px;
    color: #4b5563;
}
.md-content h1, .md-content h2, .md-content h3, .md-content h4 {
    font-family: 'Roboto Mono';
    font-weight: 600;
    color: #4b5563;
}